.buttonWrapper {
    display: flex;
    justify-content: space-around;
}

.button {
    background-color: transparent;
    border: 2px solid #fff;
    padding: 10px;
    transition: .3s;
    border-radius: 50%;
}

.button:hover {
    background-color: #fff;
    color: black;
    filter: drop-shadow(0 0 1rem #fff);
}

.button:hover svg path {
    fill: black;
}