.Card {
    max-width: 320px;
    height: 557px;
    margin: 50px auto 0;
    border: 1px solid #ffffff22;
    border-radius: 5px;
    opacity: .95;
    background: linear-gradient(0, #000 0%, rgba(18, 0, 33, .5) 100%);
    backdrop-filter: blur(7px);
    box-shadow: 0 7px 20px 5px rgba(20, 4, 33, .4);
    transition: .4s;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    will-change: transform;
    backface-visibility: hidden;
}

.wrapper {
    max-width: 100%;
    padding: 15px;
    height: 100%;
}

.title {
    font-weight: bold;
    font-size: 1.3rem;
}

.description {
    margin: 15px 0;
    font-size: 1.1rem;
    color: #F9EBFF;

}

.description > span {
    font-style: italic;
}

.wrapper > hr {
    width: 100%;
    border: none;
    border-bottom: 2px solid #88888855;
    margin-bottom: 10px;
}

.btnWrapper {
    max-width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}


.Card::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    transform: translate(-50%, -50%) rotate(-45deg);
    transition: .8s all;
    z-index: -1;
    box-shadow: 0 0 100px 40px #fff;
}

.Card:hover {
    border: 1px solid #ffff;
    transform: scale(1.03);
    filter: brightness(1.3);
}

.Card:hover::before {
    filter: brightness(0.5);
    top: -100%;
    left: 200%;
}

@media (max-width: 650px) {
    .Card {
        margin-top: 0;
    }
}
